*, *::before, *::after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  font-family: "Fjord One"; serif;
  color: #042A2B;
  background-color: #FCFCFC;
}

a:link {
  color: #042A2B;
}

a:visited {
  color: #042A2B;
}

a:hover {
  color: #5EB1BF;
}

.nav-bar {
  position: absolute;
  right: 4rem;
}

.hero-content {
  position: absolute;
  left: 0;
  top: 3rem;
  height: 5rem;
  width: 100%;
  background-color: #54F2F2;
}

.hero-title {
  padding: 0 0 0 2.5rem;
}

.new-task {
  position: absolute;
  top: 8rem;
  width: 100%;
  background-color: #5EB1BF;
}

.new-task-field {
  padding: 1rem 0 1rem 2.5rem;
}

.task-field {
  margin: 0 1rem 0.25rem 0;
  padding: 0.25rem;
  width: 30%;
  border: none;
  border-radius: 3px;
}

.priority {
  margin: 0 1rem 0 0;
  height: 1.75rem;
}

.submit {
  background-color: #F4E04D;
  border-style: solid;
  border-color: #F4E04D;
  border-width: 3px;
  border-radius: 3px;
  color: #042A2B;
  padding: 0rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.submit:hover {
  background-color: #f4edb7;
  border-width: 3px;
  border-color: #F4E04D;
}

.submit:active {
  background-color: #F4E04D;
  border-width: 3px;
  border-color: #F4E04D;
}

.task-content {
  position: relative;
  left: 0;
  top: 12rem;
  height: 100%;
  width: 100%;
}

.task-list {
  top: 5rem;
  padding: 0 2.5rem 0 2.5rem;
}

.task-checkbox {
  float: left;
  position: relative;
  top: 0.25rem;
}

.task-title {
  position: relative;
  left: 0.5rem;
}

.archive-title {
  position: relative;
  left: 0.5rem;
  text-decoration: line-through;
}
