*, *::before, *::after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  font-family: "Fjord One"; serif;
  background-color: #FCFCFC;
}

.nav-bar {
  position: absolute;
  right: 4rem;
}

.hero-content {
  position: absolute;
  left: 0;
  top: 3rem;
  height: 5rem;
  width: 100%;
  background-color: #54F2F2;
}

.hero-title {
  padding: 0 0 0 2.5rem;
}

.new-task {
  position: absolute;
  top: 8rem;
  width: 100%;
  background-color: #5EB1BF;
}

.new-task-header {
  padding: 1rem 0 1rem 2.5rem;
}

.new-task-field {
  padding: 0 0 1rem 2.5rem;
}

.task-field {
  margin: 0 2rem 0 0;
  width: 30%
}

.task-content {
  position: relative;
  left: 0;
  top: 14rem;
  height: 100%;
  width: 100%;
}

.task-list {
  top: 5rem;
  padding: 0 2.5rem 0 2.5rem;
}

.task-checkbox {
  position: relative;
  bottom: 0.25rem;
  right: 0.25rem;
}

.archive-title {
  text-decoration: line-through;
}



/*@media (min-width: 640px) {
    html { font-size: 120%; }
    .hero-content {
      height: 4rem;
    }
}*/
