<section class="hero-content">
  <h1 class="hero-title">Archive</h1>
</section>

<section class="new-task">
  <div class="new-task-field">
    <input type="text" class="task-field" ng-model="messageTitle" placeholder="Name your new task">
    <input type="text" class="task-field" ng-model="messageDescription" placeholder="Describe your new task">
    <select class="priority" ng-model="taskPriority">
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low" >Low</option>
    </select>
    <button class="submit" ng-click="home.addTask(messageTitle, messageDescription, taskPriority); clearfunction(this)">Add Task</button>
  </div>
</section>

<section class="task-content">
  <div class="task-list" ng-repeat="task in archive.tasks">
    <div ng-hide="archive.show(task)">
      <div>
        <input class="task-checkbox" type="checkbox" ng-click="archive.taskStatus(task)">
        <h3 class="archive-title">{{ task.title }}</h3>
      </div>
      <p class="task-priority">Priority: {{ task.priority }} | Created: {{ task.created }}</p>
      <p class="task-description">Description: {{ task.description }}</p>
      <hr class="task-rule">
    </div>
  </div>
</section>
